*, *::after, *::before, *:after, *:before {
    box-sizing: border-box
}

body, h1, h2, h3 {
    margin: 0;
    padding: 0;
}

nav ul, nav li {
    margin: 0;
    padding: 0; 
}

nav ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

blockquote {
    quotes: '\00AB' '\00BB' '\201E' '\201C';
}
 blockquote::before {
     content: open-quote;
 }
 blockquote::after {
     content: close-quote;
 }

 img {
     width: 100%;
 }