
:root {
    --color-autores: darkgrey;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Section posts */

section#posts article>p{
    font-size: 1.75rem;
}

section#posts footer {
   font-size: 1,12rem;
   font-style: italic;
   padding-bottom: 1rem; 
}

section#posts footer .autor {
    color: var(--color-autores);
    font-weight: 900;
}

section#posts article {
    border-bottom: 1px solid var(--color-autores)
}

section#posts .boton-wrapper {
    margin: 1rem;
    display:flex;
    flex-direction: row-reverse;
}

section#posts button {
    background-color: var(--color-botones);
    font-size: 14px;
    font-weight: 800;
    padding: 15px 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 0;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif; 
}

section#about p {
    line-height: 1.5;
    margin: 1.8rem 0; 
}

/* Section full_post*/

article h2 { font-size: 2.25rem}

figure img {
    width: 100%;
}

iframe {
    margin-left: auto;
    margin-right: auto;
}

/* Footer*/

footer {
    margin-top: 2rem;
    border-top: 1px solid var(--color-autores);
    padding-top: 3rem;
    text-align: center;
}

footer nav ul {
    display: flex;
    justify-content: center;
}
footer nav li {
    padding-left: 1rem;
    padding-right: 1rem;
}

footer small {
    color: var(--color-autores);
}

