* {
    box-sizing: border-box;
}

body{
	background-color: rgba(0,0,0,.1);
	font: 1.1rem sans-serif;
	text-transform: uppercase;
	color: white;
}
.grid{
	padding: 1rem;
}
.item{
    padding: 1.5rem;
    margin: 1rem 0;
	border-radius: .3rem;
    background-color: #E92763;
    min-height: 10vh;
}

.table_wrapper {
    display:table;
    width: 100%;
}

nav, aside {
    width: 20%;
    display: table-cell;
}
main {
    width: 60%;
    display: table-cell;
}

